In [12]:
import requests
import pandas as pd
import bs4 as bs
import matplotlib.pyplot as plt
import urllib.request

In [13]:
url = "https://www.bls.gov/ooh/"
source = urllib.request.urlopen(url).read()
soup = bs.BeautifulSoup(source, "lxml")

In [14]:
lst = []
for uls in soup.find_all('ul', {'class': 'ooh-groups-col'}):
    for lis in uls.find_all('li'):
        lst.append(lis.text.lstrip(' ').rstrip(' ').replace(' ','-').replace(',',''))

In [15]:
print(lst)

['Architecture-and-Engineering', 'Arts-and-Design', 'Building-and-Grounds-Cleaning', 'Business-and-Financial', 'Community-and-Social-Service', 'Computer-and-Information-Technology', 'Construction-and-Extraction', 'Education-Training-and-Library', 'Entertainment-and-Sports', 'Farming-Fishing-and-Forestry', 'Food-Preparation-and-Serving', 'Healthcare', 'Installation-Maintenance-and-Repair', 'Legal', 'Life-Physical-and-Social-Science', 'Management', 'Math', 'Media-and-Communication', 'Military', 'Office-and-Administrative-Support', 'Personal-Care-and-Service', 'Production', 'Protective-Service', 'Sales', 'Transportation-and-Material-Moving']

In [16]:
base_url = "https://www.bls.gov/ooh/"
tail = "/home.htm"

In [17]:
df = pd.DataFrame()
for i in lst:
    url = base_url+i+tail
    dfs = pd.read_html(url)
    df = df.append(dfs[0])

In [18]:
df = df.drop(['Unnamed: 0'], axis=1)

In [19]:
df.head()

,OCCUPATION,JOB SUMMARY,ENTRY-LEVEL EDUCATION,2019 MEDIAN PAY
0,Aerospace Engineering and Operations Technicians,Aerospace engineering and operations technicia...,Associate's degree,"$66,020"
1,Aerospace Engineers,"Aerospace engineers design primarily aircraft,...",Bachelor's degree,"$116,500"
2,Agricultural Engineers,Agricultural engineers solve problems concerni...,Bachelor's degree,"$80,720"
3,Architects,"Architects plan and design houses, factories, ...",Bachelor's degree,"$80,750"
4,Biomedical Engineers,Biomedical engineers combine engineering princ...,Bachelor's degree,"$91,410"

In [20]:
df.to_csv('web-scraping-bls.csv')