In [1]:
import requests
import pandas as pd
import bs4 as bs
import matplotlib.pyplot as plt
import urllib.request

In [2]:
url = "https://www.bls.gov/ooh/"
source = urllib.request.urlopen(url).read()
soup = bs.BeautifulSoup(source, "lxml")

In [3]:
lst = []
for uls in soup.find_all('ul', {'class': 'ooh-groups-col'}):
    for lis in uls.find_all('li'):
        lst.append(lis.text.lstrip(' ').rstrip(' ').replace(' ','-').replace(',',''))

In [4]:
print(lst)

['Architecture-and-Engineering', 'Arts-and-Design', 'Building-and-Grounds-Cleaning', 'Business-and-Financial', 'Community-and-Social-Service', 'Computer-and-Information-Technology', 'Construction-and-Extraction', 'Education-Training-and-Library', 'Entertainment-and-Sports', 'Farming-Fishing-and-Forestry', 'Food-Preparation-and-Serving', 'Healthcare', 'Installation-Maintenance-and-Repair', 'Legal', 'Life-Physical-and-Social-Science', 'Management', 'Math', 'Media-and-Communication', 'Military', 'Office-and-Administrative-Support', 'Personal-Care-and-Service', 'Production', 'Protective-Service', 'Sales', 'Transportation-and-Material-Moving']

In [5]:
base_url = "https://www.bls.gov/ooh/"
tail = "/home.htm"

In [6]:
df = pd.DataFrame()
for i in lst:
    url = base_url+i+tail
    dfs = pd.read_html(url)
    df = df.append(dfs[0])

In [7]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,OCCUPATION,JOB SUMMARY,ENTRY-LEVEL EDUCATION,2019 MEDIAN PAY
0,Aerospace Engineering and Operations Technicians,Aerospace engineering and operations technicia...,Associate's degree,"$66,020"
1,Aerospace Engineers,"Aerospace engineers design primarily aircraft,...",Bachelor's degree,"$116,500"
2,Agricultural Engineers,Agricultural engineers solve problems concerni...,Bachelor's degree,"$80,720"
3,Architects,"Architects plan and design houses, factories, ...",Bachelor's degree,"$80,750"
4,Biomedical Engineers,Biomedical engineers combine engineering princ...,Bachelor's degree,"$91,410"

In [14]:
df.to_csv('web-scraping-bls.csv')

In [10]:
[i for i in df["2019 MEDIAN PAY"]]

['$66,020',
 '$116,500',
 '$80,720',
 '$80,750',
 '$91,410',
 '$65,470',
 '$108,770',
 '$53,410',
 '$87,060',
 '$117,220',
 '$56,830',
 '$65,260',
 '$101,250',
 '$58,350',
 '$50,620',
 '$88,860',
 '$91,410',
 '$56,550',
 '$88,020',
 '$69,360',
 '$92,400',
 '$93,360',
 '$56,980',
 '$88,430',
 '$91,160',
 '$113,460',
 '$137,720',
 '$45,010',
 '$63,420',
 '$94,220',
 '$48,760',
 '$73,790',
 '$28,040',
 '$52,110',
 '$68,890',
 '$56,040',
 '$75,270',
 '$30,890',
 '$27,430',
 '$37,330',
 '$71,550',
 '$57,010',
 '$76,540',
 '$66,540',
 '$64,560',
 '$65,250',
 '$81,590',
 '$81,090',
 '$57,970',
 '$61,920',
 '$70,020',
 '$69,020',
 '$63,270',
 '$74,750',
 '$85,260',
 '$63,790',
 '$50,600',
 '$87,850',
 '$69,600',
 '$54,890',
 '$61,210',
 '$46,910',
 '$49,610',
 '$54,290',
 '$35,950',
 '$57,040',
 '$35,060',
 '$50,470',
 '$46,240',
 '$122,840',
 '$112,690',
 '$86,550',
 '$54,760',
 '$90,920',
 '$93,750',
 '$99,730',
 '$83,510',
 '$107,510',
 '$73,760',
 '$63,100',
 '$46,500',
 '$48,330',
 '$60,710',
 '$48,160',
 '$36,000',
 '$47,360',
 '$56,180',
 '$84,990',
 '$44,630',
 '$43,900',
 '$44,180',
 '$40,280',
 '$55,160',
 '$42,100',
 '$50,400',
 '$44,890',
 '$53,650',
 '$42,050',
 '$54,350',
 '$58,110',
 '$49,850',
 '$61,660',
 '$66,290',
 '$59,420',
 '$59,500',
 '$30,560',
 '$59,660',
 '$79,540',
 '$30,520',
 '$61,030',
 '$27,920',
 'The annual wage is not available.',
 '$51,370',
 '$34,840',
 'The annual wage is not available.',
 '$51,670',
 'The annual wage is not available.',
 '$74,420',
 '$28,550',
 '$25,840',
 'The annual wage is not available.',
 '$31,770',
 '$41,230',
 '$23,680',
 '$51,530',
 '$26,360',
 '$23,000',
 '$24,800',
 '$22,890',
 '$48,440',
 '$77,600',
 '$70,340',
 '$53,120',
 '$40,080',
 '$76,220',
 '$159,200',
 '$68,750',
 '$61,270',
 '$35,400',
 '$49,170',
 '$81,880',
 '$25,280',
 '$47,480',
 '$42,820',
 '$34,800',
 '$42,630',
 '$33,380',
 '$77,950',
 '$115,800',
 '$29,640',
 '$70,480',
 '$84,950',
 '$59,200',
 '$37,840',
 '$115,250',
 '$68,410',
 '$128,090',
 '$33,950',
 '$35,510',
 '$48,990',
 '$89,440',
 '$112,260',
 'This wage is equal to or greater than $208,000 per year.',
 '$126,240',
 '$32,020',
 '$85,560',
 '$62,280',
 '$48,220',
 '$73,300',
 '$61,330',
 '$79,120',
 '$48,300',
 '$95,460',
 '$28,590',
 '$35,320',
 '$64,310',
 '$42,350',
 '$42,090',
 '$48,500',
 '$59,080',
 '$39,080',
 '$48,730',
 '$51,590',
 '$52,860',
 '$65,700',
 '$49,280',
 '$37,840',
 '$57,910',
 '$52,910',
 '$63,930',
 '$60,130',
 '$120,090',
 '$122,960',
 '$51,740',
 '$41,230',
 '$65,160',
 '$63,670',
 '$95,380',
 '$94,490',
 '$45,860',
 '$49,260',
 '$78,790',
 '$62,410',
 '$105,020',
 '$46,540',
 '$71,360',
 '$70,990',
 '$59,150',
 '$81,540',
 '$51,130',
 '$92,040',
 '$63,680',
 '$81,270',
 '$88,790',
 '$75,650',
 '$82,080',
 '$122,220',
 '$122,220',
 '$80,370',
 '$83,420',
 '$59,170',
 '$74,350',
 '$63,270',
 '$96,940',
 '$135,900',
 '$144,830',
 '$122,270',
 '$146,360',
 '$95,260',
 '$96,400',
 '$74,590',
 '$71,160',
 '$129,890',
 '$55,320',
 '$116,720',
 '$105,480',
 '$54,430',
 '$100,980',
 '$129,100',
 '$95,410',
 '$48,210',
 '$58,760',
 '$116,180',
 '$126,640',
 '$67,150',
 '$104,690',
 '$113,350',
 '$108,350',
 '$92,030',
 '$84,810',
 '$39,790',
 '$45,510',
 '$61,370',
 '$59,810',
 '$51,830',
 '$36,280',
 '$61,150',
 '$46,270',
 '$72,850',
 '$63,200',
 'The annual wage is not available.',
 '$37,000',
 '$41,230',
 '$34,710',
 '$45,390',
 '$40,540',
 '$34,040',
 '$35,390',
 '$30,010',
 '$41,910',
 '$52,060',
 '$30,050',
 '$39,850',
 '$31,230',
 '$24,990',
 '$26,270',
 '$24,230',
 '$40,390',
 '$58,310',
 '$23,520',
 '$25,770',
 '$26,350',
 '$34,090',
 '$33,710',
 '$27,700',
 '$32,500',
 '$37,370',
 '$30,200',
 '$40,870',
 '$45,750',
 '$36,990',
 '$37,770',
 '$85,950',
 '$39,140',
 '$62,150',
 '$47,760',
 '$42,490',
 '$32,690',
 '$45,300',
 '$50,850',
 '$60,230',
 '$65,170',
 '$50,510',
 '$29,710',
 '$53,310',
 '$23,650',
 '$50,940',
 '$28,350',
 '$50,730',
 '$25,440',
 '$103,900',
 '$62,270',
 '$40,660',
 '$63,000',
 '$121,430',
 '$122,990',
 '$33,300',
 '$32,020',
 '$56,640',
 '$28,710',
 '$45,260',
 '$36,770',
 '$65,020',
 '$31,340',
 '$57,330']